@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-50 text-gray-800 antialiased font-sans;
    }
}

/* Optional custom scrollbar to match sleek aesthetics */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
}